#name-menu{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding-left: 10px;
    padding-right: 40px;
}
.name{
    flex-grow: 8;
    text-align: left;
    font-family: Verdana;
    font-size: 32px;
    color: #00b900;
}
.menu-item{
    flex-grow: 0.3;
    text-align: right;
    font-family: Verdana;
    font-size: 15px;
}
