/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #eef3f7;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    text-align: center;
    padding: 2em 1em 0em 1em;
}

header h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
    color: #027b02;
}

* Navigation Bar */
nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap; /* wrapping for small screens */
    justify-content: center;
    gap: 1em; /* space between menu item */
    margin-top: 1.5em;
    padding: 0 1em; /* prevents items from being cut off on small screens */
    overflow: hidden; /* no items overflow */
    height: 2em
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none; /*emove underline from under menu items */
    color: #101010;
    font-weight: bold;
    font-size: 1.5em;
    padding: 0.5em 1em; /* add clickable area */
}

nav ul li a:hover {
    background-color: #8fd88f; /* color change with mouse hover */
}

/* Responsive header for small screen */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column; /* Stack navigation vertically on small screens */
        align-items: center;
    }

    nav ul li a {
        font-size: 1em; /* Slightly smaller text for mobile */
        padding: 0.3em; /* Adjust spacing for better fit */
    } 
}

main {
    display: inline-flex;
    line-height: 2em;
    min-height: 70vh;
    padding: 1em 0em 1em 2em;
}

main article {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1em 1em 1em 0em;
    width: 60em;

}

main aside {
    display: flex;
    overflow: hidden;
    padding: 0em;
    width: 10em;
    background-color: #bde3bd;
    justify-content: center;
}

main .about-img {
    width: 15em;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 0px;
}

/*footer*/
footer {
    text-align: center;
    border-top: 2px solid #027b02;
    height: 3em;
    }

footer nav {
    display: block;
    margin: 0.75em;
}

footer img {
    height: 1.5em;
    float: center;
}